/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/**************************************************************************/
@font-face {
    font-family: Fashion; /* Имя шрифта */
    src: url(../media/fonts/FashionFetishLight.ttf); /* Путь к файлу со шрифтом */
   }

 *{
     font-family: Helvetica;
	 font-weight: 100;
     box-sizing: border-box;
     color: #1f4971;
 }
body{
    background-color: #63AEC9;
    background: linear-gradient(45deg,#95c2e1,#156FAC);
    background-size: 600% 600%;
    /*animation: AnimationName 40s linear infinite;*/
}
header{
    background-color: #fff;
    width: 100%;
    height: 50px;
    box-shadow: 0 5px 8px 0px rgba(0,0,0,0.15);
    display: flex;
    padding: 0 15px;
}
.logo{
    margin: auto 0;
    width: 180px;
    height: 70%;
    text-align: right;
    background-image: url(../media/img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 35px;
    line-height: 47px;
    font-family: Fashion;
    color: #1f4971;
}
h1,h2,h3,h4,h5,h6{
	font-family: Fashion;
}
main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
	padding-right: 25%;
}
section{
	display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    padding: 30px 40px 20px;
    margin: 20px;
    box-shadow: 0 5px 8px 0px rgba(0,0,0,0.15);
}
article{
	display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
	border-top: 1px solid #eee;
	padding: 10px 0;
}
h2{
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 20px;
}
h2+p{
	font-size: 15px;
	color: #aaa;
	margin-top: -10px;
	margin-bottom: 20px;
}
button,
input,
textarea{
	padding: 9px 20px 10px;
    font-size: 18px;
    line-height: 25px;
    border: 0;
	border-radius: 0;
	margin: 10px;
}
button{
    background-color: #fff;
    color: #2e97fc;
    border: 3px solid #1a77d1;
    border-left: 1px solid #2e97fc;
    border-top: 1px solid #2e97fc;
}
button:hover,
button:active{
    background-color: #e4f2ff;
}
button.del,
button.unsub,
button.sub,
button.console_btn{
	font-size: 15px;
	padding: 2px 10px 3px;
	margin: 5px 0 5px 10px;
}
button.sub{
	border-color: #459c57;
	color: #459c57
}
button.del i{
	color: #459c57;
}
button.del{
	border-color: #d13d4b;
	color: #d13d4b;
}
button.del i{
	color: #d13d4b;
}
button.console_btn{
	border: 0;
	background-color: #444;
	color: #fff;
}
button.console_btn:hover{
	background-color: #555;
}
button.del:hover,
button.del:active{
	background-color: #f8dcde;
}
input{
    border-bottom: 2px solid #1a77d1;
    width: 300px;
}
textarea{
	resize: vertical;
	overflow-x: hidden;
	border: 1px solid #1a77d1;
	border-bottom: 2px solid #1a77d1;
	min-height: 100px;
}
::-webkit-input-placeholder {color: #ccc}
::-moz-placeholder          {color: #ccc}/* Firefox 19+ */
:-moz-placeholder           {color: #ccc}/* Firefox 18- */
:-ms-input-placeholder      {color: #ccc}

aside {
	height: 100%;
	width: 25%;
	position: fixed;
	right: 0;
	background-color: #333;
	overflow-y: scroll;
}
aside h2{
	font-size: 20px;
	font-family: Fashion;
	color: #fff;
	padding: 20px;
	text-align: left;
	line-height: 30px;
	background-color: #222;
}
aside > div{
	margin: 0 10px 20px;
}
aside > div p{
	font-family: Helvetica;
	color: #777;
	font-weight: 100;
	border-bottom: 1px solid #444;
	padding: 5px 0;
}
aside > div p.imp{
	font-weight: 500;
	color: #b8dcff;
}
aside > div p.high{
	color: #ccc;
}
aside > div p.error{
	font-weight: 500;
	color: #c77b7b;
}
article.with_table{
	max-height: 500px;
	overflow-y: scroll;
}
table{
	margin: 15px 0 5px;
}
td,th{
	padding: 5px 10px;
	border: 1px solid #96ccff;
	text-align:left;
	word-wrap:break-word;
	line-height: 25px;
	font-size: 13px;
}
tr td:last-child,
tr td:nth-last-child(2),
tr td:nth-last-child(3){
	border: 0;
	padding: 0;
}
tr:hover{
	background-color: #e1f0ff;
}
th{
	font-weight: 500;
	background-color: #e1f0ff;
	text-align: center;
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
   50%{background-position:100% 50%}
   100%{background-position:0% 50%}
}
